* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'nodle';
    src: url(imagem/big_noodle_titling.ttf);
}

#inicio {
    width: 100px;
    height: 100px;
    background-color: red;
}

#principal {
    display: flex;
    background-image: url(imagem/background.png);
    width: 99vw;
    height: 100vh;
    background-size: 100%;
}

#nomes {
    display: flex;
    width: 40vw;
    height: 55vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#nomes h1 {
    margin: 30px;
    margin-left: 92px;
    color: rgb(99, 99, 99);
}

#nomes h2 {
    margin: 30px;
    margin-left: 92px;
    color: black;
}

#nomes h3 {
    margin: 30px;
    margin-left: 92px;
    color: black;
}

h1 {
    font: 300 96px 'nodle';
}

h2 {
    font: 300 45px 'nodle'
}

h3 {
    font: 600 35px 'nodle';
}

p {
    font: 100 26px 'nodle'
}

#genji {
    width: 1000px;
    height: 1000px;
    margin-right: 10px;

}

#ninja {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 130vh;
    align-items: end;

}

/* main finalizado */

/* começo da frase */

#frase {
    display: flex;
    width: 99vw;
    height: 608px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-image: url(imagem/genjo.png);
    justify-content: center;
    background-size: 80vw 590px;
    background-position: right;
}

.retangulo {
    width: 99vw;
    height: 35px;
    background-color: #A1D01A;
    display: flex;
}

#trapezio {
    display: flex;
    background-image: url(imagem/trapezio.png);
    height: 548px;
    width: 60vw;
    background-size: 1300px 830px;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 210px;

}

#lamina {
    margin-bottom: 70px;
    margin-left: 50px;
    font: 500 60px 'nodle';
    color: #3D5200;
}

#negocio {
    color: white;
    text-align: center;
    margin-left: 50px;
    font: 300 32px 'nodle';
}

/* botaozinho */

#botao {
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;

    background-image: url(imagem/logo.png);
    background-size: 100%;
    transition: ease 0.3s;
    cursor: pointer;
}

#botao:hover {
    background-image: url(imagem/logoDois.png);
    background-position: center;
}

#minhaDiv {
    display: flex;
    width: 99vw;
    height: 100px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#botao2 {
    width: 70px;
    height: 70px;
    background-position: center;
    transition: ease 0.3s;
    background-image: url(imagem/logo.png);
    background-size: 100%;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 30px;

}

#botao2:hover {
    background-image: url(imagem/logoDois.png);
    background-position: center;
}

#over {
    width: 200px;
}

#logos {
    display: flex;
    width: 500px;
    height: 100px;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;

}

#hub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

.hubs {
    font: 300 28px 'nodle';
    transition: 0.3s;
    cursor: pointer;
}

.hubs:hover {
    color: #fb9b1c;
}

/* fim botaozinho */

/* carrosel de habilidades */
#carrosel {
    display: flex;
    width: 99vw;
    height: 100vh;
   flex-direction: column;
   justify-content: start;
    background: rgb(161, 208, 26);
    background: linear-gradient(180deg, rgba(161, 208, 26, 1) 30%, rgba(215, 212, 208, 1) 100%);
}

#habili,
h1 {
    font: 400 80px 'nodle';
    color: #3D5200;
    margin-left: 50px;
    margin-top: 30px;
}

#habilidades-caro {
    display: flex;
    width: 99vw;
    height: 80vh;
    border: 1px solid black;
    overflow: hidden;
}
.poder {
    display: flex;
    background-color: gray;

}

/* fim carrosel de habilidades */